body,
html {
    width: 100%;
    height: 100%;
    font-family: Helvetica;
    background-color: #e1dfdd;
    overflow: hidden;
    position: relative;
    outline: none;
    perspective: 1000px;
}

.main {
    position: absolute;
    width: 730px;
    height: 420px;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    transition: all 0.195s ease;
    transform-style: preserve-3d;
}

.main.is-rotated-left {
    transform: translate(-50%, -50%) rotateY(-4deg);
}

.main.is-rotated-right {
    transform: translate(-50%, -50%) rotateY(4deg);
}

.main .sideb,
.main .right-wrapper {
    background-color: white;
    width: 50%;
    float: left;
    height: 100%;
    box-sizing: border-box;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.main .header {
    padding: 15px 0 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main .header i {
    padding: 0 5px;
    cursor: pointer;
}

.main .header span {
    display: inline-block;
    margin: 0 3px;
    font-weight: 700;
}

.main .right-wrapper {
    background-color: #00bcf2;
    color: white;
    transform-origin: left center;
    transform: rotateY(110deg);
    transition: all 0.5s;
}

.main .right-wrapper.is-active {
    transform: rotateY(0deg);
}

.main .right-wrapper .header {
    text-align: left;
    justify-content: center;
}

.main .right-wrapper .day {
    font-size: 12em;
    text-indent: -12px;
    display: block;
}

.main .right-wrapper .month {
    font-size: 2.5em;
}

.main .sideb .showDate {
    color: white;
    text-align: right;
    width: 100%;
}

.main .sideb .showDate i {
    cursor: pointer;
    background: #00bcf2 ;
    border-radius: 4px;
    padding: 8px 12px;
    transform: scale(1);
    transition: all 0.3s;
}

.main .sideb .showDate i.is-active {
    transform: scale(-1);
}

.main .sideb table {
    text-align: center;
    width: 100%;
    margin: 10px auto 0;
    table-layout: fixed;
    border-collapse: collapse;
}

.main .sideb table tbody:before {
    content: "-";
    display: block;
    line-height: 0.75em;
    color: transparent;
}

.main .sideb table th {
    color: #f05855;
    font-size: 0.75em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.main .sideb table td {
    padding: 14px 5px;
    color: #ced0ce;
    font-size: 0.85em;
    transition: all 0.3s;
    position: relative;
}

.main .sideb table td::before {
    content: "";
    display: none;
    width: 50%;
    height: 2px;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -8px);
    background-color: #00bcf2;
}

.main .sideb table td.currentDay::before {
    display: block;
}

.main .sideb table td.selectable {
    color: #303633;
    cursor: pointer;
}

.main .sideb table td.selectable:hover {
    background: #69afe5;
    color: white;
}

.main .sideb table td.between {
    background-color: #cce3f5;
    color: #11100f;
}

.main .sideb table td.active,
.main .sideb table td.hover {
    background: #00bcf2;
    color: white;
}